Title,Alternative title,Creation date (YYYY-MM-DD),Revision date (YYYY-MM-DD),Abstract (free text),Contact Name,Contact Email,Contact Address,Contact Organisation,Contact Position,"Descriptive keywords (can be multiple, comma-delimited)",Use limitation,Licence,Copyright Statement,Topic category,West Bounding Co-ordinate,East Bounding Co-ordinate,North Bounding Co-ordinate,South Bounding Co-ordinate,Extent,Temporal extent (YYYY-MM-DD if end-date is known then comma-delimited),Data format,Data format version (unknown if not known),Transfer Protocol,URL,Dataset Type,Lineage (free text),Update Frequency,INSPIRE Keyword,Scale (Integer)
Example Layer,Example alternative title,2016-03-22,2016-03-23,Example abstract or description of the dataset, which is at least 100 characters long to satisfy the Gemini 2.3 requirements,GIS Team,gis@council.gov.uk,"The Coach House, 17 West Street, Epsom, Surrey, KY18 7RL",Astun Technology,GIS Officer,"Topography, Buildings",Use according to license https://www.ordnancesurvey.co.uk/business-and-government/licensing/licences/selector.html,https://www.ordnancesurvey.co.uk/business-and-government/public-sector/mapping-agreements/inspire-licence.html,Copyright Council 2018,location,-6.236,2.072,55.816,49.943,GB-ENG,"2016-01-01,2017-12-31",ESRI Shapefile,unknown,OGC:WFS,http://t0.ads.astuntechnology.com,dataset,Derived from OS Mastermap,asNeeded,Cadastral Parcels,50000
