Title,Alternative title,Creation date (YYYY-MM-DD),Revision date (YYYY-MM-DD),Abstract (free text),Contact Name,Contact Email,"Descriptive keywords (can be multiple, comma-delimited)",Use limitation,Licence,Copyright Statement,Topic category,West Bounding Co-ordinate,East Bounding Co-ordinate,North Bounding Co-ordinate,South Bounding Co-ordinate,Extent,Temporal extent (YYYY-MM-DD if end-date is known then comma-delimited),Data format,Data format version,Transfer Protocol,URL,Dataset Type,Lineage (free text),Update Frequency,INSPIRE Keyword
